.seller-qr-wrap {
  position: absolute;
  width: 100vw;
  height: 92.1vh;
  z-index: 5;
  background-color: #ffffff;
  text-align: center;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.seller-qr-wrap img {
  display: inline-block;
  width: 73.3vw;
  background-size: cover;
  margin-bottom: 3.1vh;
}

.seller-qr-wrap p {
  font-family: SeoulNamsanEB;
  margin-bottom: 0;
}

.seller-qr-name {
  font-size: 50px;
  color: #ff9922;
  margin-bottom: 1.4vh !important;
}

.seller-qr-phone {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 8.3vh !important;
}

.seller-qr-content {
  line-height: 1.94;
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  margin-bottom: 8.1vh !important;
}

.seller-qr-link,
.seller-qr-link * {
  font-size: 15px;
  color: #ff9922;
  text-decoration: none;
}
