.wait-join-wrap {
  position: relative;
  width: 100vw;
  height: 29.6vh;
  background-color: #ff9922;
  padding-top: 2.2vh;
  padding-left: 4.4vw;
}

.wait-join-text {

}

.wait-join-logout {
  width: 91.1vw;
  display: block;
  margin-top: 10px;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
