.join-hide {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 7.8vh;
  top: 92.2vh;
  background-color: #ffffff;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.join-wrap {
  position: relative;
  width: 100vw;
  height: 92.2vh;
  overflow: hidden;
}

.join-toggle-btn {
  background-color: #ffffff;
  width: 100vw;
  height: 7.8vh;
  font-size: 13px;
  display: block;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, .6);
  cursor: pointer;
  vertical-align: middle;
  line-height: 7.8vh;
  position: relative;
  margin-bottom: 0;
  top: 0;
  cursor: pointer;
}

.join-toggle-btn:before {
  content: '';
  position: absolute;
  left: 0;
  border-top: 4.4vw solid var(--background-color);
  border-right: 4.4vw solid transparent;
  width: 0;
}

.join-input {
  width: 91.1vw;
  height: 5.5vh;
  margin-bottom: 3vh !important;
}

.join-hide .flex {
  padding-left: 4.4vw;
}

.join-hide .v-input__slot {
  background-color: #f8f8f8 !important;
}

.join-hide .v-text-field > .v-input__control > .v-input__slot:after,
.join-hide .v-text-field > .v-input__control > .v-input__slot:before {
  content: none !important;
}

.join-submit {
  font-weight: bold;
  font-size: 15px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-family: NanumBarunGothicOTF;
  background-color: #ffa945 !important;
  color: #ffffff !important;
  margin: 1.2vh 0 2.2vh 0 !important;
}
